@charset "UTF-8";

 body {
    font-family: Arial, Helvetica, sans-serif
 }

 h1 {
    text-align: center;
 }

 #d1 {
    display: block;
    margin-right: auto;
    width: 150px;
 }

main {
    background-color: rgba(49, 94, 241, 0.568);
    border-radius: 50px;
    box-shadow: 5px 5px 15px rgba(129, 104, 89, 0.671);
    width: 1100px;
    padding: 50px;
    margin: 0 auto;
}